.input:focus {
}

.input {
    font-size: 16px;
}

.inputWrapper {
}

.superInput {
    
}

.errorInput {
    border: 3px solid red;
    color: red;
}

.errorInput:focus {
}

.error {
    color: red;
}
