.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: fit-content;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
