.item {
   
}

.item:last-of-type {
    
}

.users {
}

.buttonsContainer {
    justify-self: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.thead {
    
    
}

.nameCol {
    
}

.ageCol {
    
}